<footer class="pt-5">
	<div class="container">
		<p class="helper-text center-align mt-5">&copy;@DateTime.Now.Year #sitename#. All rights reserved.</p>
	</div>
</footer>

<script asp-append-version="true"
        src="/js/app.js"></script>