<!DOCTYPE html>
<html lang="en">

<head>
	<partial name="_Meta"/>

	<title>@ViewData[ViewDataKeys.Title] | #sitename#</title> <!-- TODO: set up site identity -->

	@await RenderSectionAsync("Seo", required: false)
	@await RenderSectionAsync("Scripts", required: false);
</head>

<body class="@CssClasses.Body">

<partial name="_StandardNav"/>

<main class="@CssClasses.Main"
      role="main">
	@RenderBody()
</main>

<partial name="_Footer"/>

</body>
</html>