<!DOCTYPE html>
<html lang="en">

<head>
	<partial name="_Meta"/>

	<title>@ViewData[ViewDataKeys.Title] | #sitename#</title> <!-- TODO: set up site identity -->

	@await RenderSectionAsync("Seo", required: false)
	@await RenderSectionAsync("Scripts", required: false);
</head>

<body class="@CssClasses.Body">

<partial name="_StandardNav"/>

<main class="@CssClasses.NarrowMain"
      role="main">
	<div class="container">
		<div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
			@RenderBody()
		</div>
	</div>
</main>

<partial name="_Footer"/>

</body>
</html>