@using Sienar.Identity
@inject SignInService SignInService
@inject UserService UserService

@{
	var links = new List<(string, string)>
	{
		("Home", Urls.Home),
		("Privacy", Urls.Privacy)
	};

	var topNavLinks = new List<(string, string)>(links);
	var sideNavLinks = new List<(string, string)>(links);

	if (SignInService.IsSignedIn(User))
	{
		var user = await UserService.GetUserAsync(User);
		topNavLinks.Add(($"Welcome, {user.UserName}", Urls.Dashboard.DashboardIndex));
		topNavLinks.Add(("Log out", Urls.Account.Logout));
		sideNavLinks.Add(("Dashboard", Urls.Dashboard.DashboardIndex));
	}
	else
	{
		topNavLinks.Add(("Log in", Urls.Account.Login));
	}
}

<div class="navbar-fixed">
	<nav>
    	<div class="nav-wrapper">
    		<a asp-area=""
    		   asp-page="@Urls.Home"
    		   class="brand-logo">
    		</a>
	        <button data-target="mobile-nav"
	                class="sidenav-trigger btn-flat">
		        <i class="material-icons">menu</i>
	        </button>
    		<ul class="right hide-on-med-and-down">
            	@foreach (var link in topNavLinks)
            	{
            		var (text, url) = link;
		            <li>
			            <a asp-area=""
			               asp-page="@url">
				            @text
			            </a>
		            </li>
            	}
            </ul>
    	</div>
    </nav>
</div>

<ul class="sidenav pb-5"
    id="mobile-nav">
	<div class="d-flex flex-column full-height">
		<div class="flex-grow-1">
			@foreach (var link in sideNavLinks)
            {
            	var (text, url) = link;
            	<li>
            		<a asp-area=""
            		   asp-page="@url">
            			@text
            		</a>
            	</li>
            }
		</div>

		<div class="px-5">
			<a class="btn btn-block"
               asp-area=""
               asp-action="@Urls.Account.Login">
            	Log in
            </a>
		</div>
	</div>
</ul>