@using Server.Tools
@layout StandaloneNarrowLayout

<DocHead Title="Log in"
         Description="Just another Blazor site with a login page"/>

<CascadingAuthenticationState>
	<LayoutView Layout="typeof(StandaloneNarrowLayout)">
		<Card Title="Log in">
			<CardContent>
				<ErrorMessage Message="@ErrorMessage"/>

				<form method="post"
				      id="login-form">
					<MudTextField @bind-Value="Model.AccountName"
                                  Label="Username or email address"
					              name="Login.AccountName"
                                  id="Login_AccountName"/>
					<MudTextField @bind-Value="Model.Password"
                                  InputType="InputType.Password"
                                  Label="Password"
					              name="Login.Password"
                                  id="Login_Password"/>
					<Honeypot @bind-Value="Model.SecretKeyField"
					          name="Login.SecretKeyField"
					          id="Login_SecretKeyField"/>
				</form>
			</CardContent>

			<CardActions>
				<PrimaryButton id="submit-button">Log in</PrimaryButton>
				<SecondaryButton Link="@Urls.Account.ForgotPassword.Index">
                	I forgot my password
                </SecondaryButton>
			</CardActions>
		</Card>
	</LayoutView>
</CascadingAuthenticationState>
