@using Client.Tools
@using Core.Account
@inherits FormPage<Login, Core.Account.IAccountService, LoginDto>
@layout StandaloneNarrowLayout

<DocHead Title="Log in"
         Description="Just another Blazor site with a login page"/>

<StandardForm Model="@Model"
              OnSubmit="OnSubmit"
              Title="Log in"
              SubmitText="Log in">
	<Information>
		<ErrorMessage Message="@ErrorMessage"/>
	</Information>

	<Fields>
		<MudTextField @bind-Value="Model.AccountName"
		              For="() => Model.AccountName"
		              Label="Username or email address"/>
		<MudTextField @bind-Value="Model.Password"
		              For="() => Model.Password"
		              InputType="InputType.Password"
		              Label="Password"/>
		<Honeypot @bind-Value="Model.SecretKeyField"/>
	</Fields>

	<MoreActions>
		<SecondaryButton Link="@Urls.Account.ForgotPassword.Index">
			I forgot my password
		</SecondaryButton>
	</MoreActions>
</StandardForm>

<MudOverlay Visible="_validatingLogin"
            DarkBackground
            Absolute>
	<MudPaper Class="py-5 px-10">
		<MudText Class="mb-5">Validating your login. Please wait...</MudText>
		<div class="d-flex">
			<LoadingSpinner Class="mx-auto"/>
		</div>
	</MudPaper>
</MudOverlay>