<CascadingAuthenticationState>
	<AppInitializer>
		<Router AppAssembly="@typeof(App).Assembly">
			<Found Context="routeData">
				<AuthorizeRouteView DefaultLayout="@typeof(MainLayout)"
				                    RouteData="@routeData">
					<Authorizing>
						Verifying your login status...
					</Authorizing>
					<NotAuthorized>
						<UnauthorizedRedirect/>
					</NotAuthorized>
				</AuthorizeRouteView>
			</Found>
			<NotFound>
				<PageTitle>Not found</PageTitle>
				<LayoutView Layout="@typeof(MainLayout)">
					<p role="alert">Sorry, there's nothing at this address.</p>
				</LayoutView>
			</NotFound>
		</Router>
	</AppInitializer>
</CascadingAuthenticationState>